<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Example</title>

 
</head>
<body>
<div class="container">
   <a href="#" th:href="@{/comments}">Liste des Comment</a>
	<a href="#" th:href="@{/commentsau}">Comments actifs/priorites/actuers</a>
    <h2>Comment Details</h2>
    <div>
        <form class="form-horizontal" th:object="${comment}" th:action="@{/comment}" method="post">
			<div class="form-group">
                <label class="col-sm-2 control-label">id:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control"  th:field="*{id}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">comment name:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{obs}"/>
                </div>
            </div>
			
			 <div class="form-group">
                <label class="col-sm-2 control-label">comment date:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{datecom}"/>
                </div>
            </div>
			
			 <div class="form-group">
                <label class="col-sm-2 control-label">comment id task</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{idtask}"/>
                </div>
            </div>
			
			 
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
