<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Liste des tasks</title>

   
</head>
<body>
<div class="container">
   
	<a href="#" th:href="@{/task/new}">Nouvelle Task</a>
	<a href="#" th:href="@{/tasks}">Liste des tasks full</a>
	<a href="#" th:href="@{/ticket/new}">Nouvelle Ticket</a>
	<a href="#" th:href="@{/tickets}">Liste des tickets full</a>
    <div th:if="${not #lists.isEmpty(tasks)}">
        <h2>Task List</h2>
        <table class="table table-striped">
            <tr>
                <th>id task</th>
				<th>id ticket</th>
                <th>date task</th>
                <th>acteur task</th>
				<th>done task</th>
                <th>obs task</th>
				 <th>status task</th>
                <th>View</th>
                <th>Edit</th>
            <!--     <th>Delete</th> -->
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}">   <a href="/task/${task.id}"> typcli </a> </td>
                 <td th:text="${task.idtick}">codsoc</td>
				 <td th:text="${task.datetask}">codtab</td>
				 <td th:text="${task.acteurtask}">codcle</td>
				 <td th:text="${task.donetask}">info1</td>
				  <td th:text="${task.obstask}">codtab</td>
				  <td th:text="${task.statustask}">info1</td>
                <td><a th:href="${ '/task/' + task.id}">View</a></td>
                <td><a th:href="${'/task/edit/' + task.id}">Edit</a></td>
<!--                 <td><a th:href="${'/task/delete/' + task.id}">Delete</a></td> -->
            </tr>
        </table>
    </div>
	 <div th:if="${ #lists.isEmpty(tasks)}">
        <h2>Empty Task List</h2>
    </div>
	
</div>

</body>
</html>